<% if current_user.is? :prop %>
	<p>
	     BIENVENIDO ropietario <%= current_user.username %>.
	</p>
<% elsif current_user.is? :arrend %>
	<p>
	     BIENVENIDO arrendatario  <%= current_user.username %>.
	</p>
<% else %>
	<div class="container" align="center">
		<div class="row-fluid" align= "center">
			<div class="span2">
				<div class = "icon">
					<a class="fontawesome-home button" href="">Home</a>
				</div>
			</div>
			<div class="span2">
				<div class = "icon">
					<a class="fontawesome-search button">Buscar</a>
				</div>
			</div>
			<div class="span2">
				<div class = "icon">
					<a class="fontawesome-envelope button"></a>
				</div>
			</div>
			<div class="span2">
				<div class = "icon">
					<a class="fontawesome-search button"></a>
				</div>
			</div>
			<div class="span2">
				<div class = "icon">
					<a class="fontawesome-envelope button"></a>
				</div>
			</div>
			<div class="span2">
				<div class = "icon">
					<a class="fontawesome-cog button" href="../servicios">Servicios</a>
				</div>
			</div>
		</div>
	</div>
<% end %>
