<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @arrendatario.Usuario %>
</p>

<%= link_to 'Edit', edit_arrendatario_path(@arrendatario) %> |
<%= link_to 'Back', arrendatarios_path %>
