<div id="cuadro" style="background: #B0A9AA; margin-left: 30%; margin-right: 30%; border: solid 2px">
	<div class="row-fluid">
		<h1>Editar Servicio</h1>

		<div style="margin-left: 10px; margin-bottom: 20px">
			<%= render 'form' %>
			<%= link_to 'Atrás', servicios_path, :class => "btn btn-default" %>
		</div>
	</div>
</div>
