<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @propietario.Usuario %>
</p>

<%= link_to 'Edit', edit_propietario_path(@propietario) %> |
<%= link_to 'Back', propietarios_path %>
