<div id="cuadro" style="background: #B0A9AA; margin-left: 30%; margin-right: 30%; border: solid 2px">
  <h1>Items</h1>
  <div style="overflow: auto; word-break: break-all; height: 300px; border: solid 2px; margin-left: 5px; margin-right: 5px">
    <table border=2 align="center" style="table-layout: fixed; blackground: white">
      <thead>
        <tr>
          <th width="25%">Nombre del Item</th>
          <th widht="45%">Descripcion del Item</th>
          <th width="20%">Estado del Item</th>
          <th width="10%"></th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.NombreItem %></td>
            <td><%= item.DescripcionItem %></td>
            <% if item.EstadoItem? %>
              <td>Habilitado</td>
            <% else %>
              <td>DesHabilitado</td>
            <% end %>
            <td><%= link_to 'Edit', edit_item_path(item) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>

  <%= link_to 'Nuevo Item', new_item_path, :class => "btn btn-default", :style => "margin-left: 10px; margin-bottom: 20px" %>
</div>
