<h1>Listing usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Rut</th>
      <th>Mail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.Rut %></td>
        <td><%= usuario.Mail %></td>
        <td><%= link_to 'Habilitar/Deshabilitar', usuario, method: :update_habilitar_prop, data: { confirm: 'Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
