<div id="cuadro" style="height: 1050px; background: #B0A9AA; margin-left: 28%; margin-right: 28%; border: solid 2px">
	<div class="row-fluid">
		<h1>Ingresar nuevo Usuario</h1>
		<br>
		<div style="margin-left: 10px; margin-bottom: 20px">
			<%= render 'form' %>
			<%= link_to 'Atrás', usuarios_path, :class => "btn btn-default", :style => "margin-left: 10px; margin-bottom: 20px" %>
		</div>
	</div>
</div>