<p>Hola! <%= @resource.email %>!</p>

<p>Alguien ha solicitado cambiar tu password de RPS Gestion de Arriendos. Puedes hacerlo en el siguiente link.</p>

<p><%= link_to 'Cambiar Mi Password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no has hecho esta solicitud, porfavor ignora este correo.</p>
<p>Tu Password no sera cambiada hasta que accedas al link habilitado en este correo.</p>
