<!DOCTYPE html>
<html>
<head>
  <title>RPSProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<div id="titlebar">
   <div class="page-width"> 
       <h1 class="top-org-name">
          <img alt="Litmos" border="0" src="http://www.litmos.com/wp-content/themes/litmos-lms/images/litmos-logo.png">
        </h1>
        <div class="nav">
            
        </div>
            <div class="clear">
        </div>
   </div>
</div>

<body>

<%= yield %>

</body>
</html>
